//PERSONALIZACIÓN MODALS:

.modal-header {
    background: #0D6EFD;
}

#exampleModalLabel {
    color: white;
    font-size: 17px;
}

.form-label {
    font-size: 15px;
    font-weight: bold;
}

.form-control {
    font-size: 15px;
}

.btn-dark,
.btn-primary{
    font-size: 17px;
}

#precioTotal {
    margin-bottom: 0px;
}

.modal-footer{
    justify-content: space-around;
}